<h2> {{title}} </h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error has-feedback':hasErrors('Text')}">
        <label for="text">Answer Text:</label>
        <br />
        <textarea id="text" placeholder="enter a suitable text" class="form-control" formControlName="Text" required></textarea>
        <div *ngIf="hasErrors('Text')" class="help-block">
            Please provide Text
        </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error has-feedback':hasErrors('Text')}">
        <label for="value">Score Value:</label>
        <br />
        <select id="value" name="value" formControlName="Value" class="form-control" required>
            <option value="">Pick a value...</option>
            <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]" [value] = "num"> {{num}} </option>
        </select>
        <div *ngIf="hasErrors('Value')" class="help-block">
            Please provide a valid number between -5 and 5
        </div>
    </div>
    <div>
        <button *ngIf="editMode" type="submit" class="btn btn-success" [disabled]="!form.touched||hasErrors('Text') || hasErrors('Value')">Apply Changes</button>
        <button *ngIf="!editMode" type="submit" class="btn btn-success" [disabled]="!form.touched||hasErrors('Text') || hasErrors('Value')">Create the answer!</button>
        <button type="submit" class="btn btn-danger" (click)="onBack()">Cancel</button>
    </div>
</form> 