<h2> {{title}} </h2>
<div class="answer-edit">
    <label for="text">Answer Text:</label>
    <br />
    <textarea id="text" placeholder="enter a suitable text" [(ngModel)] = "answer.Text"></textarea>
</div>
<div>
    <label for="value">Score Value:</label>
    <br />
    <select id="value" name="value" [(ngModel)] = "answer.Value">
        <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]" [value] = "num"> {{num}} </option>
    </select>
</div>
<div>
    <input *ngIf="editMode" type="button" (click) ="onSubmit(answer)" value="Apply Changes" />
    <input *ngIf="!editMode" type="button" (click)="onSubmit(answer)" value="Create the answer!" />
    <input type="button" value="Cancel" (click)="onBack()" />
</div> 