<div class="quiz-edit">
    <h2>{{title}}</h2>
    <div class="form-group">
        <label for="title">Quiz Title</label>
        <br />
        <input type="text" id="title" [(ngModel)]="quiz.Title" placeholder="choose a title..." class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Quiz description:</label>
        <br>
        <input type="text" id="description" [(ngModel)]="quiz.Description" placeholder="enter a description..." class="form-control" />
    </div>
    <div class="form-group">
        <label for="text">Quiz Text:</label>
        <br>
        <textarea class="form-control" id="text" [(ngModel)]="quiz.Text" placeholder="Enter a text..."></textarea> 
    </div>
    <div class="form-group commands">
        <input type="button" *ngIf="editMode" value="Apply Changes" (click)="onSubmit(quiz)" class="btn btn-success">
        <input type="button" *ngIf="!editMode" value="Apply Changes" (click)="onSubmit(quiz)" class="btn btn-success">
        <input type="button" *ngIf="!editMode" value="Apply Changes" (click)="onBack()" class="btn btn-success">
    </div>
    <question-list *ngIf="editMode" [quiz]="quiz"></question-list>
    <result-list *ngIf="editMode" [quiz]="quiz"></result-list>
</div>