<h2> {{title}} </h2>
<div class="question-edit">
<form [formGroup]="form">
        <div class="form-group">
            <label for="text">Question Text:</label>
            <br />
            <textarea formControlName="Text" class="form-control" placeholder="enter a suitable text..." id="text" required></textarea>
            <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!(form.get('Text').valid)" aria-hidden="true"></span>
        </div>
        <div>
            <button type="submit" (click)="onSubmit()"  *ngIf="editMode" class="btn btn-success" [disabled]="form.touched && form.get('Text').errors?.required">Apply Changes</button>
            <button type="submit" (click)="onSubmit()" *ngIf="!editMode" class="btn btn-success" [disabled]="form.get('Text').errors?.required">Create a new Question</button>
            <button type="submit" (click)="onBack()" class="btn btn-danger" >Cancel</button>
        </div>
</form>
</div>
<answer-list *ngIf="editMode" [question]="question"></answer-list>
<div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-info">Form debug info:</div>
    <div class="panel-body">
        <p><strong>Form Value:</strong></p>
        <div class="help-block">
            {{form.value | json}}
        </div>
        <p><strong>Form Status:</strong></p>
        <div class="help-block">
            {{form.status | json}}
        </div>
        <p><strong>Form activity Log:</strong></p>
        <div class="help-block">
            <span *ngIf="activityLog" [innerHTML]="activityLog"></span>
        </div>
    </div>
</div>